---
layout: layouts/home.njk
---
    <section>
        {% set maxPosts = collections.posts.length | min(3) %}
        {% set maxEpisodes = collections.episodes.length | min(3) %}
        <div class="home-hero">
            <div class="home-photo-wrapper">
                <div class="home-photo"></div>
            </div>
            <div class="home-heading">
                <h1 class="home-title">WebPerf Impacters</h1>
                <h2 class="home-subtitle">🎙 Podcast sobre Web Performance en el que encontrarás toda la actualidad sobre #webperf, tips, best practices y case studies para conseguir un rendimiento de 100.</h2>
            </div>
        </div>
    </section>
    <section class="last-articles">
        <h3>{% if maxEpisodes == 1 %}Último Capítulo{% else %}Últimos {{ maxEpisodes }} Capítulos{% endif %}</h3>

        {% set episodeslist = collections.episodes | head(-3) %}
        {% set episodeslistCounter = collections.episodes | length %}
        {% include "episodeslist.njk" %}

        <p><a href="{{ '/capitulos/' | url }}">Todos los capítulos</a> →</p>
    </section>
    {% if collections.posts | length > 0 %}
    <section class="last-articles">
        <h3>{% if maxPosts == 1 %}Último Artículo{% else %}Últimos {{ maxPosts }} Artículos{% endif %}</h3>

        {% set postslist = collections.posts | head(-3) %}
        {% set postslistCounter = collections.posts | length %}
        {% include "postslist.njk" %}

        <p><a href="{{ '/blog/' | url }}">Todos los artículos</a> →</p>
    </section>
    {% endif %}