<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="icon" href="/img/favicon.svg">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    {% set css %}{% include "../../css/index.css" %}{% endset %}
    <!-- feed it through a cssmin filter to minify -->
    <style>{{ css | cssmin | safe }}</style>
  </head>
  <body>
    <header>
      <nav class="navbar" role="navigation">
        <div id="menuToggle">
          <input id="menutoggle" type="checkbox" />
          <label for="menutoggle" class="menu">Menu</label>
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            {%- for entry in collections.all | eleventyNavigation %}
              <li><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
            {%- endfor %}
          </ul>
        </div>
      </nav>
      <nav>
        <a class="home" href="{{ '/' | url }}">WebPerf Impacters</a>
        <ul class="nav">
        {%- for entry in collections.all | eleventyNavigation %}
          <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
        {%- endfor %}
        </ul>
      </nav>
    </header>
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>
    <footer>© 2022 WebPerf Impacters. Todos los derechos reservados.</footer>
  </body>
</html>
